<script src="https://unpkg.com/vue@2.5.9/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

<div id="body" class="card">
  <div id="app">
   
    <div class="container">
      <br>
      <div class="form-inline" action="#">
      
    
     
        
        
          <select  v-model="item.desc" class="form-control">
            <option selected>Choose...</option>
            <option v-for="i in m" :value="i.nom" :key="i.id">
              {{ i.nom }}
            </option>
          </select>
          
         
       
    
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <input type="text" id="form-name" v-model="item.name" placeholder="quantité" class="form-control"  v-on:keyup.enter="addItem"  > 
      <div class="col-sm-3">
        <button @click="addItem" class="btn btn-info"><i class="fas fa-plus">ajouter</button>
    </div>
    
     
       
        </td>
      <br><br>
      <table class="table table-striped table-bordered table-sm">
        <thead class="thead-light">
          <th>Name</th>
          <th>Description</th>
          <th>unité</th>
          <th class="col-lg-12">Edit/Del</th>
        </thead>
        <tr v-for="(item, index) in items">
          <td>
            <input v-if="item.edit" type="text" v-model="item.name"  v-on:keyup.enter="item.edit = !item.edit">
            <span v-else>{{item.name}} </span>
          </td>
          <td>
            <input v-if="item.edit" type="text" v-model="item.desc" v-on:keyup.enter="item.edit = !item.edit">
            <span v-else>{{item.desc}} </span>
          </td>
          <td><button @click="item.edit = !item.edit" class="btn btn-info"><i class="far fa-edit">edit</i></button>
            <button @click="removeItem(index)" class="btn btn-danger"><i class="far fa-trash-alt">delete</i></button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
  <script>
  
new Vue({
  el: '#app',
  data: {
    
      item: {name: "", desc: "", edit: false},
      items: [],
    m:[],
    
  },
  mounted (){
      this.title = "Loading....";
      var vm = this;
      axios
        .get("test2.php")
        .then(function(response) {
          vm.m = response.data;
        })
        .catch(function(error) {
          alert(error);
        });
    },
    
   
  
  methods:{
    addItem(){
      this.items.push({name:this.item.name, desc:this.item.desc, edit: false})
      this.item = [];
      $('#form-name').focus();
    },
    removeItem(index){
      this.items.splice(index, 1)
    }
  }
});


  </script>
